/lesson1/install_example/node_modules
/lesson1/practice/node_modules
/lesson2/practice/node_modules
/lesson3/practice/node_modules
/lesson4/practice/node_modules
/lesson5/practice/node_modules
/lesson6/practice/node_modules
